{% extends 'base.html' %}
{% load static %}

{% block 'page' %}
    <div class="container-fluid my-3">
        <div class="row justify-content-center">
            <div class="col-md-3 border border-1 p-3 m-1 rounded">
                <div class="text-center">
                    <img class="img-fluid rounded-circle" style="width: 200px; height: 200px; overflow: hidden;" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fimages.unsplash.com%2Fphoto-1529665253569-6d01c0eaf7b6%3Fixlib%3Drb-1.2.1%26q%3D80%26fm%3Djpg%26crop%3Dentropy%26cs%3Dtinysrgb%26w%3D1080%26fit%3Dmax%26ixid%3DeyJhcHBfaWQiOjEyMDd9&f=1&nofb=1&ipt=79793f3ab10990170304fd5dff01f3f80f451245f5a14ded7656185729d9c1c1&ipo=images" alt="">
                </div>
                <hr>
                <div class="">
                    <h4>Yedige Mazhit <span class="badge bg-secondary">User</span></h4>
                    <h5 class="fw-light">Phone number: 8 708 549 29 37</h5>
                    <h5 class="fw-light">Email: edige_nis@mail.ru</h5>
                    <h5 class="fw-light"></h5>
                </div>
                <div class="">
                    <button class="btn">Edit profile</button>
                    <button class="btn btn-outline-danger">Exit</button>
                </div>
            </div>
            <div class="col-md-8 border border-1 p-3 m-1 rounded">
                <h4>Last Orders</h4>
                <hr>
                <div class="container-fluid">
                    {% for i in 'ewf' %}
                    {% include 'components/last_orders.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}