{% load static %}
<div class="container-fluid py-3">
    <h3 class="text-center fw-light">Categories</h3>
    <div class="row m-2">
        <div class="col-md-4 my-1">
            <a href="#">
                <img src="{% static 'test_images/jins.webp' %}" alt="category" class="d-block w-100 rounded">
            </a>
        </div>
        <div class="col-md-4 my-1">
            <a href="#">
                <img src="{% static 'test_images/jins.webp' %}" alt="category" class="d-block w-100 rounded">
            </a>
        </div>
        <div class="col-md-4 my-1">
            <a href="#">
                <img src="{% static 'test_images/jins.webp' %}" alt="category" class="d-block w-100 rounded">
            </a>
        </div>
        <div class="col-md-4 my-1">
            <a href="#">
                <img src="{% static 'test_images/jins.webp' %}" alt="category" class="d-block w-100 rounded">
            </a>
        </div>
        <div class="col-md-4 my-1">
            <a href="#">
                <img src="{% static 'test_images/jins.webp' %}" alt="category" class="d-block w-100 rounded">
            </a>
        </div>
        <div class="col-md-4 my-1">
            <a href="#">
                <img src="{% static 'test_images/jins.webp' %}" alt="category" class="d-block w-100 rounded">
            </a>
        </div>
    </div>
</div>