html, body {
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

.layout-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}