{% load static %}
<div class="row justify-content-centet align-items-center rounded p-2 mt-1 bg-light">
    <div class="col-md-1">
        <img class="d-block w-100 rounded" src="https://cdn.finnflare.com/upload/resize_cache/full_size/FAE/641/420_610_2/FAE21026_641_40.jpg?cdn=1724180952" alt="">
    </div>
    <div class="col-md-5">
        <h5>Title</h5>
        <h6 class="fw-light">Size L, Green</h6>
    </div>
    <div class="col-md-1">
        <h6 class="fw-light">1</h6>
    </div>
    <div class="col-md-1">
        <h6 class="fw-light">500 P</h6>
    </div>
    <div class="col-md-2">
        <h6 class="fw-light">22.05.2024 22:55</h6>
    </div>
    <div class="col-md-2">
        <button class="btn btn-outline-danger">Delete</button>
    </div>
</div>