{% load static %}
<div class="col container-fluid mx-0 mt-1 p-1">
    <img class="d-block w-100 rounded" src="https://cdn.finnflare.com/upload/resize_cache/full_size/FAE/641/420_610_2/FAE21026_641_40.jpg?cdn=1724180952" alt="">
    <div class="card-body p-0 m-0">
        <h4 class="card-title m-0">Card title</h4>
        <div class="row">
            <div class="col-md-6">
                <span class="d-block">500 P</span>
            </div>
            <div class="col-md-6 text-end">
                <div class="form-check form-check-inline p-0">
                    <input type="radio" class="btn-check" name="colorPicker" id="colorPicker" autocomplete="off" checked>
                    <label class="btn-outline-light rounded-circle" style="background-color: pink; outline: 1px solid white; width: 1em!important; height: 1em!important;" for="colorPicker"></label>
                    <input type="radio" class="btn-check" name="colorPicker" id="colorPicker" autocomplete="off" checked>
                    <label class="btn-outline-light rounded-circle" style="background-color: pink; outline: 1px solid white; width: 1em!important; height: 1em!important;" for="colorPicker"></label>
                    <input type="radio" class="btn-check" name="colorPicker" id="colorPicker" autocomplete="off" checked>
                    <label class="btn-outline-light rounded-circle" style="background-color: pink; outline: 1px solid white; width: 1em!important; height: 1em!important;" for="colorPicker"></label>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column">
            <button class="btn btn-primary">Add to Cart</button>
            <button class="btn btn-danger mt-1">Add to Favourites</button>
        </div>
    </div>
</div>